/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 20, 2022, 4:22:25 PM
    Author     : Admin
*/

/*Color
//#0cabba
//#87d5dc --box shadow
*/

form{
    position: relative;
    width: 95%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    border-right: 1px solid gold;
    background-color: #fff;
    padding: 40px 5px;
    border-radius: 4px;
    color: #322e2f;
    box-shadow: 10px 10px 5px #87d5dc;
    margin: 50px auto;
}

.required{
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 0.7em;
  color: red !important;
}


.inputWrap{
    display: flex;
    width: 90%;
    max-width: 350px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #0cabba;
    align-items: center;
    position: relative;
}

label{
    position: absolute;
    color: #87d5dc;
    font-size: 1em;
    width: fit-content;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    padding: 0 4px;
    margin-left: 10px; 
}

.inputWrap>input{
    font-size: 1em;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 2px 10px;
    border-radius: 20px;
    background: none;
}

.inputWrap>input:focus + label,.entered>label{
    transform: translateY(-20px);
    font-size: 0.8em;
    background-color: white;
    color: black;
    padding: 0 1px;
}

.btn{
    padding: 10px 20px !important;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: fit-content;
    background-color: #0cabba !important;
    color: #fff;
    border: none;
    font-size: 1em;
}

.btn:hover{
    background-color: #12a4d9;
    color: #e2d810;
}

.registerlink{
    color: #0cabba;
    font-size: 1em;
}